manifest {
  name = 'Heritability estimates '
  author = 'Anastasiia Alekseienko'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.07.1'
  version = '0.5'
}

// nextflow.config


includeConfig 'conf/base.config'

profiles {

  slurm { includeConfig 'conf/slurm.config'}

  local_vm { includeConfig 'conf/local_vm.config' }

  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    singularity.cacheDir = "$baseDir/singularity_img/"
  }
  docker {
    docker.enabled = true
    docker.temp = 'auto'
  }
  conda { process.conda = "$baseDir/environment.yml" }
}

